* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fefae077;
    width: 100vw;
}

.navdiv.fixed {
    position: fixed;
    width: 99vw;
    border: 1px solid #8b6b4a;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 3em;
    background-color: #CCD5AE;
}

.nav.fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 3em;
    background-color: #CCD5AE;
}

h1, p {
    color: #8b6b4a;
}

p {
    font-size: 0.8em;
}

.menu {
    display: flex;
}

.menubtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 2em;
    height: 2em;
}

.menubtn img {
    width: auto;
    height: 100%;
}

.navtoggle {
    background-color: #E9EDC9;
    border-top: 1px dotted #8b6b4a;
    display: none;
}

.navtoggle.active {
    display: block;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.navtoggle li {
    list-style: none;
}

.navtoggle .menuitem {
    text-decoration: none;
    color: #8b6b4a;
    font-weight: bold;
    font-size: 1em;
}

.bio {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.me {
    width: 10em;
    border-radius: 50%;
    margin-bottom: 1em;
}

.bio p {
    font-size: 1rem;
}

#claim {
    padding-top: 1em;
    text-align: center;
    font-size: 2rem;
}

.tech {
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-top: 1px dotted #8b6b4a;
    gap: 4em;
}

.tech li {
    list-style: none;
    font-size: 1.8em;
}

.front, .back, .plustech {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.front h2, .back h2, .plustech h2 {
    text-align: center;
    font-size: 2.5em;
}

.frontlist, .backlist, .pluslist {
    display: flex;
    align-items: flex-start;
}

.frontlist img, .backlist img, .plustech img {
    width: 1.4em;
    height: auto;
    margin-right: 0.7em;
}

.atributions {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

/* tablets landscape and mini laptops */
@media screen and (min-width: 640px) {}

/* PC  */
@media screen and (min-width: 992px) {}