:root {
    --primary-color: #111111;
    --secondary-color: #39393b;
    --terciary-color: #8b6b4a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fefae077;
    width: 100vw;
}

h1, p {
    color: var(--terciary-color);
}

h2 {
    color: var(--secondary-color)
}

p {
    font-size: 0.8em;
    color: var(--secondary-color)
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

li {
    color: var(--secondary-color)
}

h3 {
    text-decoration: underline;
    font-size: 1.5em;
}

/* Nav */
.navdiv.fixed {
    position: fixed;
    min-width: 98%;
    border: 2px solid var(--terciary-color);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 3em;
    background-color: var(--primary-color);
}

.nav.fixed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 3em;
    background-color: var(--secondary-color);
}

.nav p {
    color: var(--terciary-color);
}

.menu {
    display: flex;
}

.menubtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    width: 2em;
    height: 2em;
}

.menubtn img {
    width: auto;
    height: 100%;
}

.navtoggle {
    background-color: var(--secondary-color);
    border-top: 1px dotted var(--terciary-color);
    display: none;
}

.navtoggle.active {
    display: block;
}

.navtoggle li {
    list-style: none;
}

.navtoggle .menuitem {
    text-decoration: none;
    color: #8b6b4a;
    font-weight: bold;
    font-size: 1em;
}

/* Bio */
.bio {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem
}

.me {
    width: 10em;
    border-radius: 50%;
    margin-bottom: 1em;
}

.bio p {
    font-size: 1.3rem;
}

#claim {
    padding-top: 1em;
    text-align: center;
    font-size: 2rem;
}

/* Tech */
.tech {
    display: flex;
    flex-direction: column;
    padding: 2em;
    border-top: 1px dotted var(--terciary-color);
    gap: 4em;
}

.tech li {
    list-style: none;
    font-size: 1.8em;
}

.front, .back, .plustech {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.front h2, .back h2, .plustech h2 {
    text-align: center;
    font-size: 2.5em;
}

.frontlist, .backlist, .pluslist {
    display: flex;
    align-items: flex-start;
}

.frontlist img, .backlist img, .plustech img {
    width: 1.4em;
    height: auto;
    margin-right: 0.7em;
}

/* Projects */
.projects {
    display: flex;
    flex-direction: column;
    border-top: 1px dotted var(--terciary-color);
    padding: 2em;
    text-align: center;
}

.projects h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

.joke-div {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.joke-img-div {
    display: flex;
    gap: 1rem;
}

.joke-img-div img {
    width: 100%;
    height: 200px;
}

.link-joke {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.link-joke a {
    color: var(--primary-color);
}

/* Atributions */
.atributions {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-top: 1px dotted var(--terciary-color);
}

/* tablets landscape and mini laptops */
@media screen and (min-width: 640px) {}

/* PC  */
@media screen and (min-width: 992px) {}